<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee"  
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <listener>
    <listener-class>com.isoftstone.smart.core.servlet.inject.BootServletContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>
  <context-param>
  <param-name>customerphoto</param-name>
   <!--<param-value>d:\\photo</param-value> -->
  <param-value>/usr/local/data/ksdata/photo</param-value>
 </context-param>
 
  <context-param>
  <param-name>customersignature</param-name>
  <!--<param-value>d:\\signature</param-value> -->
   <param-value>/usr/local/data/ksdata/photo/cussignature</param-value>
 </context-param>
  <context-param>
  <param-name>risksignature</param-name>
  <!-- <param-value>d:\\signature</param-value>-->
  <param-value>/usr/local/data/ksdata/photo/risksignature</param-value> 
 </context-param>
  <context-param>
  <param-name>pdfpath</param-name>
<!-- <param-value>d:\\pdf</param-value>-->
    <param-value>/usr/local/data/ksdata/pdf</param-value> 
 </context-param>
 
 
  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <mime-mapping>
    <extension>manifest</extension>
    <mime-type>text/cache-manifest</mime-type>
  </mime-mapping>
  <web:welcome-file-list>
    <web:welcome-file>/login.html</web:welcome-file>
  </web:welcome-file-list>
  
  <resource-ref>
    <res-ref-name>jdbc/KingstoneDb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <web:error-page>
  <web:error-code>404</web:error-code>
  <web:location>/404.jsp</web:location>
 </web:error-page>
 
   
</web-app>